// colors:
$black-color: #000000;
$gray-color: #838383;
$boulder-color: #757575;
$bombay-color: #b5b7c0;
$meadow-color: #16c098;
$pink-color: #9197b3;
$blue-color: #5932ea;

// container
:root {
  --padd-xl: 75px;
}
